body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url('img/patron.jpg');
    background-repeat: repeat;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px; /* Añadido un margen para separar del header y del footer */
    max-width: 400px; /* Aumentado el ancho máximo */
    width: 100%; /* Añadido para ocupar todo el ancho en dispositivos pequeños */
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.validation-message {
    color: red;
    margin-bottom: 8px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
