/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('img/patron.jpg');
    background-repeat: repeat;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.header-container {
    position: relative;
}

.header-text {
    position: absolute;
    font-size: 50px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: #000000da;
}

.logo {
    max-width: 200px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.background-image {
    width: 100%;
    max-height: 55vh;
    object-fit: cover;
    opacity: 0.9;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajustado para espacio entre las tarjetas */
    align-items: center;
    margin: 20px auto;
}

.card {
    flex: 1;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    margin: 20px; /* Ajusta el margen según sea necesario */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(68, 68, 68, 0.938);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.25);
}

.card-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}